// HTML, CSS, misc stylesheet here

// contains all the primary variables for the site (eg colors, fonts)
@import "./libraries/library";

/* --------------------------Logo--------------------------*/
.logo {
    width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
/* --------------------------Logo--------------------------*/
  





